*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: aliceblue;
    font-family: sans-serif;
    outline: none;
}
h1
{
    text-align: center;
    background-color: beige;
    color: rgb(61, 60, 60);
    
    
}
.container
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator
{
    background-color: beige;
    padding: 15px;
    box-shadow: inset 5px 5px 12px beige , 5px 5px 12px rgb(0,0,0,.16);
    border-radius: 30px;
    display: grid;
    grid-template-columns:repeat(4,70px);
}
input{
    grid-column: span 4;
    height: 80px;
    width: 250px;
    background-color: beige;
    box-shadow: inset -5px -5px 12px rgb(183, 182, 182) , 5px 5px 12px rgb(0,0,0,.16);
    border-radius: 20px;
    border: none;
    color: rgb(70, 70, 70);
    font-size: 30px;
    text-align: end;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}
button
{
    height: 40px;
    width: 40px;
    background-color: bisque;
    box-shadow: inset -5px -5px 12px rgb(183, 182, 182) , 5px 5px 21px rgb(0,0,0,.16);
    border: none;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
}